vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Sep 2012 23:12:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Brian-PC\\Brian
vti_modifiedby:SR|Brian-PC\\Brian
vti_timecreated:TR|10 Sep 2012 23:12:20 -0000
vti_cacheddtm:TX|10 Sep 2012 23:12:20 -0000
vti_filesize:IR|2070
vti_cachedlinkinfo:VX|S|loading.gif S|bullets.png S|arrows.png
vti_cachedsvcrellinks:VX|FSUS|js/nivo-slider/themes/dark/loading.gif FSUS|js/nivo-slider/themes/dark/bullets.png FSUS|js/nivo-slider/themes/dark/arrows.png
vti_backlinkinfo:VX|js/nivo-slider/demo/demo.html
