vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Sep 2012 23:25:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|BrianRoom-PC\\Brian
vti_modifiedby:SR|Brian-PC\\Brian
vti_timecreated:TR|10 Sep 2012 23:12:20 -0000
vti_backlinkinfo:VX|template_slider.dwt js/nivo-slider/demo/demo.html events.html index.html
vti_nexttolasttimemodified:TW|12 Sep 2012 23:25:02 -0000
vti_cacheddtm:TX|12 Sep 2012 23:25:22 -0000
vti_filesize:IR|2113
vti_cachedlinkinfo:VX|S|loading.gif S|bullets.png S|arrows.png
vti_cachedsvcrellinks:VX|FSUS|js/nivo-slider/themes/default/loading.gif FSUS|js/nivo-slider/themes/default/bullets.png FSUS|js/nivo-slider/themes/default/arrows.png
