vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Sep 2012 14:15:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|BrianRoom-PC\\Brian
vti_modifiedby:SR|Brian-PC\\Brian
vti_timecreated:TR|10 Sep 2012 23:12:20 -0000
vti_backlinkinfo:VX|template_slider.dwt js/nivo-slider/demo/demo.html events.html index.html
vti_nexttolasttimemodified:TW|14 Sep 2012 14:15:57 -0000
vti_cacheddtm:TX|14 Sep 2012 14:15:59 -0000
vti_filesize:IR|2139
vti_cachedlinkinfo:VX|S|images/loading.gif
vti_cachedsvcrellinks:VX|NSUS|js/nivo-slider/images/loading.gif
